.img {
    background-image: url("../../images/pouldreuzic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .containerhome {
    width: 60%;
    height: 30%;
    opacity: 0.8;
  }
  
  .title {
    text-align: center;
    font-family: sans-serif;
  }
  
  .presentation {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    padding: 1rem;
  }
  
  @media (max-width: 768px) {
    .presentation {
      text-align: center;
      font-size: medium;
    }
    .containerhome {
      width: 100%;
      height: 50%;
      opacity: 0.8;
    }
  }